@model IEnumerable<ContactTracingApp.Models.Contact>

@{
    ViewBag.Title = "My Contacts";
}
@section Style
{
    <link href="@Url.Content("~/Style/MyContacts.css")" rel="stylesheet" type="text/css" />
}

<h2>My Contacts</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("Create New", "addNewContacts", "Home")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateMet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceKept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateMet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceKept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContacts", new { id = item.ContactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
            </td>
        </tr>
    }

</table>
