@model IEnumerable<ContactTracingApp.Models.Person>

@{
    ViewBag.Title = "View People";
}
@section Style
{
    <link href="@Url.Content("~/Style/ViewPeople.css")" rel="stylesheet" type="text/css" />
}

<h2>View People</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("Create New", "SignUp", "Home")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }

</table>
